
<form method="POST">

<p>

<label for="nom">
    Nom
</label>

<input type="text" name="nom" id="nom" />

</p>

<p>

<label for="prenom">
    Prenom
</label>

<input type="text" name="prenom" id="prenom" />

</p>


<p>

<label for="date_de_naissance">
Date de naissance
</label>

<input type="date" min="1900-01-01" max="2021-01-22" step="1" name="date_de_naissance" id="date_de_naissance" />

</p>


<p>

<label for="date_de_mort">
Date de mort
</label>

<input type="date" min="1900-01-01" max="2021-01-22" step="1" name="date_de_mort" id="date_de_mort" />

</p>

<p>

<button type="submit">
Enregistrer
</button>

</p>
</form>

