<form method="POST">

    <p>
        <label for="nom">
            Nom
        </label>
        <input type="text" name="nom" id="nom" value="{{acteur.nom}}" />
    </p>
    <p>
        <label for="prenom">
            Prénom
        </label>
        <textarea name="text" id="prenom"></textarea>
    </p>
    <p>
        <label for="date_de_naissance">
           Date de naissance
        </label>
        <input type="date" min="1900-01-01" max="2021-01-01" Step="1" name="date_de_naissance" id="date_de_naissance"></input>
    </p>
    
    <p>
        <label for="date_de_mort">
           date de mort
        </label>
        <input type="type" min="1900-01-01" max="2021-01-01" Step="1" name="date_de_mort" id="date_de_mort"></input>
    </p>

    <p>
        <button type="submit">
            Enregistrer
        </buttom>
    </p>
</form>