{% extends 'base.html.twig' %}

{% block title %}Création de genre{% endblock %}

{% block body %}
<form method="POST">

<p>

<label for="nom">
    Nom
</label>

<input type="text" name="nom" id="nom" />

</p>

<p>

<button type="submit">
Enregistrer
</button>

</p>
</form>
{% endblock %}
